<main class="container">
    <section class="show_genre_header">
        <h1><%= @genre.name %></h1>
    </section>
    <section class="show_genre_body">
        <ul>
            <% @arrangements.each do |arrangement| %>
                <li>
                    <%= link_to arrangement.song.name, arrangement.song %> - <%= link_to arrangement.artist.name, arrangement.artist %>
                </li>
            <% end %>
        </ul>
    </section>
    <section class="show_genre_footer">

    </section>
</main>