<main class="container">
    <section class="team_index_header">
        <h1>My Teams</h1>
        <p>
        <%= render 'layouts/flash_field' %>
        </p>
    </section>
    <section class="team_index_body">
        <% @teams.each do |team| %>
            <%= render :partial => 'team_card', :locals => {team: team} %>
        <% end %>
        <br>
        <% if @led_teams.any? %>
        <h2>Teams I Lead:</h2>
            <% @led_teams.each do |team| %>
                <%= render :partial => 'team_card', :locals => {team: team} %>
            <% end %>
        <% end %>
        <br><br>
        <button>
            <%= link_to "Create a New Team", new_team_path %>
        </button>
    </section>
</main>