<main class="container">
    <section class="login_header">
        <h1>Log In</h1>
        <br>
        <%= render 'layouts/flash_field' %> 
    </section>
    <section class="login_body">
        <%= render 'form' %>
        <%= link_to (image_pack_tag "fb.png", width: 200), '/auth/facebook', method: :post %>
        <%= link_to (image_pack_tag "github.png", width: 200), '/auth/github', method: :post %>
        <p>Test Account:<br/>
            email: test@email.com <br/>
            password: test123
        </p>
    </section>
</main>