<div class="share_setlist_form">
    <%= form_with(model: setlist_share, url: "/setlist_shares", local: false) do |form| %>
        <div class="field">
            <%= form.hidden_field :team_id, value: team.id %>
        </div>

        <div class="field">
            <%= collection_select :setlist_share, :setlist_id, user.created_setlists, :id, :name %>
        </div>

        <div class="actions">
            <%= form.submit "Share Setlist", class: 'button' %>
        </div>
    <% end %>
</div>