<%= f.hidden_field :user_id, :value => user.id %>
<%= f.label :name, 'Artist' %><br>
<%= f.text_field :name, list: 'artist-name' %>
<datalist id='artist-name'>
<% user.artists.each do |artist| %>
    <option value="<%= artist.name %>"></option>
<% end %>
</datalist>
