<main class="container">
    <section class="artists_index_header">
        <h1>All Artists</h1>
    </section>
    <section class="artists_index_body">
            <div>
                <span>
                    <h2>Artist Name</h2>
                </span>
                <span>
                    <h2>No. of Arrangements</h2>
                </span>
            </div>
            <hr>
            <br>
            <% @artists.each do |artist| %>
            <div>
                <span>
                    <%= link_to artist.name, artist %>
                </span>
                <span>
                    <%= artist.arrangements.count %>
                </span>
            </div>
            <% end %>
    </section>
</main>