<h2>Charts:</h2>
<ul>
    <% arrangement.charts.each do |chart| %>
        <li>
            <%= link_to chart.instrument, chart %>
        </li>
    <% end %>
</ul>
<br>
<h2>Key: <%= arrangement.key %></h2>
<br>
<h2>Tempo: <%= arrangement.tempo %></h2>
<br>
<h2>Genres:</h2>
<ul>
    <% arrangement.genres.each do |genre| %>
        <li>
            <%= link_to genre.name, genre %>
        </li>
    <% end %>
</ul>
<br>