<main class="container">
    <section class="new_arrangement_header">
        <h1>New Arrangement</h1>
    </section>
    <section class="new_arrangement_body">
        <%= render 'form', :locals => { arrangement: @arrangement } %>
    </section>
    <section class="new_arrangement_footer">
    
    </section>
</main>