$('#setlist_add form').remove();
$('#setlist_add a').show();
$('#setlist_id').empty();
<% Setlist.all.each do |setlist| %>
  $('#setlist_id').append($('<option value="<%= setlist.id %>"><%= setlist.name %></option>'));
<% end %>
