$('#setlist_list form').remove();
$('#setlist_list a').show();
$('#setlist_setlist_id').empty();
<% Setlist.all.each do |setlist| %>
  $('#setlist_setlist_id').append($('<option value="<%= setlist.id %>"><%= setlist.name %></option>'));
<% end %>