<%= form_with(model: setlist, url: "/setlists", local: false) do |form| %>
    <div class="field">
        <%= form.text_field :name %>
    </div>

    <div class="actions">
        <%= form.submit class: "button" %>
    </div>
<% end %>