<main class="container">
    <section class="setlists_index_header">
        <h1>All Arrangers</h1>
    </section>
    <section class="setlists_index_body">
            <div>
                <span>
                    <h2>Setlist Name</h2>
                </span>
                <span>
                    <h2>No. of Arrangements</h2>
                </span>
            </div>
            <hr>
            <br>
            <% @setlists.each do |setlist| %>
            <div>
                <span>
                    <%= link_to setlist.name, setlist %>
                </span>
                <span>
                    <%= setlist.arrangements.count %>
                </span>
            </div>
            <% end %>
    </section>
</main>