<%= f.hidden_field :user_id, :value => user.id %>
<%= f.label :name, 'Arranger *required' %><br>
<%= f.text_field :name, list: 'arranger-name' %>
<datalist id='arranger-name'>
<% user.arrangers.each do |arranger| %>
    <option value="<%= arranger.name %>"></option>
<% end %>
</datalist>
