<main class="container">
    <section class="arrangers_index_header">
        <h1>All Arrangers</h1>
    </section>
    <section class="arrangers_index_body">
            <div>
                <span>
                    <h2>Arranger Name</h2>
                </span>
                <span>
                    <h2>No. of Arrangements</h2>
                </span>
            </div>
            <hr>
            <br>
            <% @arrangers.each do |arranger| %>
            <div>
                <span>
                    <%= link_to arranger.name, arranger %>
                </span>
                <span>
                    <%= arranger.arrangements.count %>
                </span>
            </div>
            <% end %>
    </section>
</main>