<main class="container">
    <section class="landing_body">
        <div>
            <h1>Chart-Source</h1>
            <h2>Fast and easy arrangement sharing.</h2>
        </div>
        <div>
            <%= image_pack_tag "band.png", width: 400 %>
        </div>
    </section>
    <p>
        <%= render "layouts/flash_field" %>
    </p>
</main>