<% song.artists.each do |artist| %>
    <p><%= link_to artist.name, artist %></p>
<% end %>
<h3>Arrangements: <%= song.arrangements.count %></h3>
<ul>
    <% song.arrangements.each do |arrangement| %>
        <li>
            <%= link_to arrangement.arranger.name, arrangement %>
        </li>
    <% end %>
</ul>
<br>