<h2><%= link_to song.artist.name, user_artist_path(user, song.artist)%></h2>
<h2>Arrangements: <%= song.arrangements.count %></h2>
<ul>
    <% song.arrangements.each do |arrangement| %>
        <li>
            <%= link_to arrangement.arranger.name, user_arrangement_path(user, arrangement) %>
        </li>
    <% end %>
</ul>