<%= f.hidden_field :user_id, :value => user.id %>
<%= f.label :name, 'Song Title *required' %><br>
<%= f.text_field :name, list: 'song-title' %>
<datalist id='song-title'>
<% user.songs.each do |song| %>
    <option value="<%= song.name %>"></option>
<% end %>
</datalist>