<main class="container">
    <section class="songs_index_header">
        <h1>All Songs</h1>
    </section>
    <section class="songs_index_body">
            <div>
                <span>
                    <h2>Song Title</h2>
                </span>
                <span>
                    <h2>No. of Arrangements</h2>
                </span>
            </div>
            <hr>
            <br>
            <% @songs.each do |song| %>
            <div>
                <span>
                    <%= link_to song.name, song %>
                </span>
                <span>
                    <%= song.arrangements.count %>
                </span>
            </div>
            <% end %>
    </section>
</main>