/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


* {
    margin: 0;
    padding: 0;
}

.container {
    min-height: 100vh;
    height: 100%;
    width: 100%;
    padding-top: 100px;
    background: linear-gradient(45deg, rgb(183, 241, 245), rgb(166, 138, 245));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav {
    height: auto;
    width: 100%;
    position: fixed;
    top: 30px;
    background: transparent;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}


nav h2 {
    padding-left: 10px;
}

nav div{
    padding-right: 10px;
}

.nav_controls {
    display: flex;
    flex-direction: row;
}

.nav_controls #arrangements_nav_wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
}

#arrangements_nav_options {
    display: none;
}

.nav_controls #arrangements_nav_wrapper:hover > #arrangements_nav_options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 

.nav_controls a {
    font-size: 1.5em;
    text-decoration: none;
    margin: 0px 20px;
    color: white;
    text-shadow: 2px 2px 3px black;
}

.nav_controls a:active,
.nav_controls a:hover,
.nav_controls a:visited {
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px 3px black;
}

button {
    padding: 5px 8px;
    border-radius: 20px;
    border: none;
}

button a {
    text-decoration: none;
}



/* DASHBOARD */
.dashboard_body {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.dashboard_body article {
    width: 45%;
    min-width: 300px;
    max-height: 450px;
    padding: 10px;
    background: white;
    border: 2px solid black;
    border-radius: 5px;
    overflow-y: auto;
}

.arrangement_card {
    width: 95%;
    border-radius: 2px;
    padding: 5px;
    margin: 3px;
    background: rgba(128, 128, 128, 0.158);
}

.arrangement_card .accordion_title {
    position: relative;
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.arrangement_card .accordion_details {
    position: relative;
    margin-top: 3px;
    padding: 0 3px;
    background: rgba(77, 73, 128, 0.158);
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease-in;
}

.arrangement_card .accordion_details.active {
    max-height: 500px;
}

.arrangement_card .title_line {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.arrangement_card .title_line .accordion_title {
    flex: 1;
}

.arrangement_card .add_to_setlist_button {
    background: white;
    border: 1px solid black;
    border-radius: 50%;
    cursor: pointer;
}

/* NEW ARRANGEMENT PAGE  */

.tag_span {
    background: white;
    border: none;
    margin: 0 5px;
    padding: 0 10px;
    border-radius: 20px;
}

/* TEAM INDEX */
.team_card {
    background:rgba(66, 65, 77, 0.158);
    border-radius: 10px;
    padding: 15px;
}

.show_team_body {
    width: 90%;
    max-width: 800px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
}

.show_team_body #team_setlists, 
.show_team_body #team_members_list {
    width: 45%;
    background:rgba(66, 65, 77, 0.158);
    border-radius: 10px;
    padding: 10px;
}