/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=PT+Sans+Caption&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Comfortaa', cursive;   
    font-size: 2em;
    text-align: center;
}

h2 {
    font-family: 'PT Sans Caption', sans-serif;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    min-height: calc(100vh - 100px);
    height: 100%;
    width: 100%;
    padding-top: 100px;
    background: linear-gradient(45deg, rgb(183, 241, 245), rgb(166, 138, 245));
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

nav {
    height: auto;
    width: 100%;
    position: absolute;
    top: 30px;
    background: transparent;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}


nav h1 {
    padding-left: 20px;
}
nav h1 a {
    text-decoration: none;
    color: white;
    letter-spacing: 5px;
}

nav h1 a:visited {
    text-decoration: none;
    color: white;
}

nav div{
    padding-right: 10px;
}

.nav_controls {
    font-size: .7em;
    display: flex;
    flex-direction: row;
}

.nav_controls #dashboard_nav_wrapper,
.nav_controls #arrangements_nav_wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
}

#dashboard_nav_options,
#arrangements_nav_options {
    display: none;
}

#arrangements_nav_options h2 {
    width: 150px;
    padding: 5px 0;
    background: rgba(255, 255, 255, 0.918);
    border: 2px solid grey;
    text-align: center;
    transition: all 0.2s ease;
}

#dashboard_nav_options h2 {
    width: 120px;
    padding: 5px 0;
    background: rgba(255, 255, 255, 0.918);
    border: 2px solid grey;
    text-align: center;
    transition: all 0.2s ease;
}

#dashboard_nav_options h2:hover,
#arrangements_nav_options h2:hover {
    background: rgba(148, 154, 236, 0.918);
}

.nav_controls #dashboard_nav_wrapper:hover > #dashboard_nav_options,
.nav_controls #arrangements_nav_wrapper:hover > #arrangements_nav_options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 

.nav_controls a {
    font-size: 1.2em;
    text-decoration: none;
    margin: 0px 15px;
    color: white;
    text-shadow: 2px 2px 3px black;
}

.nav_controls a:active,
.nav_controls a:hover,
.nav_controls a:visited {
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px 3px black;
}

.nav_menu {
    display: none;
}

.nav_menu_button {
    display: none;
}

@media (max-width: 480px) {
    nav .nav_controls {
        display: none;
    }
    nav h1 {
        font-size: small;
    }
    nav .nav_menu {
        position: relative;
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        background-color: darkslateblue;
        width: 100%;
        height: 100%;
        z-index: 5;
        opacity: 1;
        transition: all 0.3s ease-in-out;
    }
    nav .nav_menu.hide {
        display: none;
        opacity: 0;
    }
    nav .nav_menu_button {
        position: absolute;
        top: -10px;
        right: 0;
        height: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        z-index: 10;
    }
    nav .nav_menu_button .bar {
        position: relative;
        height: 5px;
        width: 30px;
        border-radius: 20px;
        background-color: white;
        transition: all 0.3s ease-in-out;
    }
    nav .nav_menu_button.selected .bar:first-child {
        transform: rotate(45deg) translateY(18px);
        
    }
    nav .nav_menu_button.selected .bar:nth-child(2) {
        opacity: 0
    }
    nav .nav_menu_button.selected .bar:nth-child(3) {
        transform: rotate(-45deg) translateY(-18px);
    }

    nav .nav_menu .navmenu_controls {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    nav .nav_menu .navmenu_controls a {
        text-decoration: none;
        color: white;
    }
}

.button,
button {
    padding: 5px 8px;
    border-radius: 20px;
    border: 1px solid black;
    text-decoration: none;
    cursor: pointer;
    background: transparent;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.562);
    transition: all 0.3s ease; 
}

.button:hover,
button:hover,
.button a:hover,
button a:hover {
    transform: scale(1.1);
    transition: all 0.3s ease; 
}

.button a,
button a {
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.562);
}

.error {
    color: rgb(255, 0, 0);
    text-shadow: 1px 1px 2px rgb(235, 152, 152);
}
.success {
    color: green;
    text-shadow: 1px 1px 2px rgb(150, 255, 124);
}
.error_border {
    border: 2px solid red;
}
.flash_alert {
    color: red;
    text-shadow: 1px 1px 2px rgb(255, 144, 144);
    text-align: center;
}
.flash_notice {
    color: green;
    text-shadow: 1px 1px 2px rgb(163, 255, 139);
    text-align: center;
}


/* LANDING PAGE */
.landing_body {
    width: 800px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.landing_body div {
    margin-top: 150px;
    width: 400px;
    text-align: center;
}

/* LOGIN PAGE */
.login_body {
    max-width: 300px;
    width: 90%;
    margin: 0 5px;
    background: rgba(0, 0, 0, 0.1);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
    padding: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.login_body form {
    width: 100%;
    margin-bottom: 7px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.login_body form div {
    margin: 0;
    width: 100%;
    text-align: center;
}

.login_body input {
    max-width: 250px;
    width: 100%;
    padding: 5px;
    border-radius: 10px;
}

.login_body input:focus {
    outline: none;
}

/* EDIT USER PAGE */
.edit_user_body {
    width: 90%;
    max-width: 400px;
}
.edit_user_body input[type='password'],
.edit_user_body input[type='text'] {
    width: 100%;
    padding: 5px;
    border-radius: 10px;
}
    

/* DASHBOARD */
.dashboard_header {
    text-align: center;
    margin-bottom: 10px;
}

.dashboard_body {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex: 1;
}

.dashboard_body article {
    top: -40px;
    width: 48%;
    min-width: 300px;
    height: 500px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
}

.dashboard_body article .title {
    background: rgba(0, 0, 100, 0.2);
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

@media (max-width: 480px) {
    .dashboard_body article {
        margin-bottom: 20px;
        padding-bottom: 20px;
    }
    .dashboard_body article .title h2 {
        font-size: 16px;
    } 

}

.dashboard_body article .title input {
    padding: 5px;
    border-radius: 5px;
}

.dashboard_body article .scroll_list {
    margin-top: 10px;
    height: 390px;
    overflow-y: auto;
}

.dashboard_body article .title_search {
    display: flex;
    align-items: center;
}
.dashboard_body article .title_search select, 
.dashboard_body article .title_search input {
    border-radius: 10px;
    padding: 5px;
    margin-right: 15px;
    flex: 1;
}

.dashboard_body article .title_search select:focus, 
.dashboard_body article .title_search input:focus {
    outline: none;
}

#setlist_add form {
    display: flex;
    flex-direction: row;
}

.arrangement_card {
    width: 95%;
    border-radius: 2px;
    padding: 5px;
    margin: 3px;
    background: rgba(128, 128, 128, 0.158);
}

.arrangement_card .accordion_title {
    position: relative;
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.arrangement_card .accordion_details {
    position: relative;
    margin-top: 3px;
    padding: 0 3px;
    background: rgba(77, 73, 128, 0.158);
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease-in;
}

.arrangement_card .accordion_details.active {
    max-height: 500px;
}

.arrangement_card .title_line {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.arrangement_card .title_line .accordion_title {
    flex: 1;
}

.arrangement_card .add_to_setlist_button {
    background: white;
    border: 1px solid black;
    border-radius: 50%;
    cursor: pointer;
}

/* NEW ARRANGEMENT PAGE  */

.new_arrangement_header {
    margin-bottom: 30px;
}

.new_arrangement_body {
    max-width: 400px;
    width: 90%;
    margin-bottom: 100px;
}

.new_arrangement_body form input {
    width: 100%;
    padding: 5px;
    border-radius: 10px;
}

.new_arrangement_body form fieldset {
    padding: 15px 30px 15px 15px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.tag_span {
    background: white;
    border: none;
    margin: 0 5px;
    padding: 0 10px;
    border-radius: 20px;
}

/* ARRANGEMENTS INDEX PAGE */
.arrangements_index_header,
.arrangements_index_header h1 {
    margin-bottom: 20px;
}
.arrangements_index_header div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.arrangements_index_header div button {
    margin: 0 5px;
}

.arrangements_index_body {
    width: 90%;
    max-width: 500px;
}

/* SHOW TEAM PAGE */
.team_card {
    background:rgba(66, 65, 77, 0.158);
    border-radius: 10px;
    padding: 15px;
}

.show_team_body {
    width: 90%;
    max-width: 800px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
}

.show_team_body #team_setlists, 
.show_team_body #team_members_list {
    width: 45%;
    background:rgba(66, 65, 77, 0.158);
    border-radius: 10px;
    padding: 10px;
}

.show_team_header {
    margin-bottom: 30px;
}

.show_team_body fieldset {
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.show_team_body .team_setlists_title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.show_team_body .team_setlists_title select {
    padding: 5px;
    border-radius: 10px;
}

/* EDIT TEAM PAGE */
.edit_team_body {
    width: 90%;
    max-width: 500px;
    margin-bottom: 50px;
}

.edit_team_body form input[type=text] {
    width: 100%;
    padding: 5px;
    border-radius: 10px;
}

.edit_team_body fieldset {
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
}

/* EDIT MEMBERSHIP PAGE */
.edit_membership_body {
    width: 90%;
    max-width: 500px;
}

.edit_membership_body input {
    width: 100%;
    padding: 5px;
    border-radius: 10px;
}

/* SONGS INDEX */
.songs_index_body {
    width: 90%;
    max-width: 400px;
}

.songs_index_body div {
    display: flex;
    flex-direction: row ;
    justify-content: space-between;
}

.songs_index_body div span a {
    text-decoration: none;
}

/* SONG SHOW PAGE */
.show_song_body {
    width: 90%;
    max-width: 400px;
}

.show_song_body div {
    display: flex;
    flex-direction: row ;
    justify-content: space-between;
}

.show_song_body div span a {
    text-decoration: none;
}

/* ARTISTS INDEX */
.artists_index_body {
    width: 90%;
    max-width: 400px;
}

.artists_index_body div {
    display: flex;
    flex-direction: row ;
    justify-content: space-between;
}

.artists_index_body div span a {
    text-decoration: none;
}

/* ARTIST SHOW PAGE */
.show_artist_header h2 {
    text-align: center;
}

.show_artist_body {
    width: 90%;
    max-width: 400px;
}

.show_artist_body div {
    display: flex;
    flex-direction: row ;
    justify-content: space-between;
}

.show_artist_body div span a {
    text-decoration: none;
}

/* ARRANGERS INDEX */

.arrangers_index_body {
    width: 90%;
    max-width: 500px;
}

.arrangers_index_body div {
    display: flex;
    flex-direction: row ;
    justify-content: space-between;
}

.arrangers_index_body div span a {
    text-decoration: none;
}

/* ARRANGER SHOW PAGE */
.show_arranger_header h2 {
    text-align: center;
}

.show_arranger_body {
    width: 90%;
    max-width: 400px;
}

.show_arranger_body div {
    display: flex;
    flex-direction: row ;
    justify-content: space-between;
}

.show_arranger_body div span a {
    text-decoration: none;
}

/* GENRES INDEX */

.genres_index_body {
    width: 90%;
    max-width: 400px;
}

.genres_index_body div {
    display: flex;
    flex-direction: row ;
    justify-content: space-between;
}

.genres_index_body div span a {
    text-decoration: none;
}

/* GENRE SHOW PAGE */
.show_genre_body {
    width: 90%;
    max-width: 400px;
}

.show_genre_body div {
    display: flex;
    flex-direction: row ;
    justify-content: space-between;
}

.show_genre_body div span a {
    text-decoration: none;
}

/* SETLIST INDEX PAGE */
.setlists_index_body {
    width: 90%;
    max-width: 400px;
}

.setlists_index_body div {
    display: flex;
    flex-direction: row ;
    justify-content: space-between;
}

.setlists_index_body div span a {
    text-decoration: none;
}


