<% if item.errors.any? %>
    <div class='error'>
        <p>Could not be saved due to the following errors:</p>
        <ul>
            <% item.errors.full_messages.each do |message| %>
            <li>
                <%= message %>
            </li>
            <% end %>
        </ul>
    </div>
<% end %>