<div>
    <% if logged_in? %>
        <button>
            <%= link_to "Log Out", logout_path %>
        </button>
    <% else %>
        <button>
            <%= link_to "Log In", login_path %>
        </button>
        <button>
            <%= link_to "Sign Up", signup_path %>
        </button>
    <% end %>
</div>